  
  nav li {
    float: left;
  }
  
  nav a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #ddd;
  }
  
  nav a.active {
    background-color: #4287f5;
    color: #fff;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  .server {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .online {
    color: green;
    font-weight: bold;
  }
  
  .offline {
    color: red;
    font-weight: bold;
  }
  
  footer {
    background-color: #4287f5;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
